# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarnrc.yml
.DS_Store

# Yarn Cache and Unplugged (should be ignored)
.yarn/cache
.yarn/unplugged

.env.dev

.pnp.cjs
.pnp.loader.mjs


vite.config.js.timestamp-*
node_modules

__pycache__

examples/**/data
examples/nuscenes_data